@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.water-filter {
  filter: url("#turbulence");
}
.profile-photo {
  -webkit-shape-outside: circle();
  shape-outside: circle();
  border-radius: 50%;
}

.footer-container {
  background-color: #26a69a;
}

.icon-scroll {
  width: 20px;
  height: 40px;
  box-shadow: inset 0 0 0 2px white;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  top: 6px;
  left: 6px;
  border-radius: 4px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.click-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 25px;
  border-color: #2dd4bf;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 5000;
  transform: scale(0);
  transform-origin: center;
  animation: clickAnim 1s ease-out;
}

@keyframes clickAnim {
  40%,
  100% {
    transform: scale(1.2);
    border-width: 0px;
    opacity: 0.1;
  }
}

.typewriter {
  font-family: monospace;
}

.cursor {
  border-right: 0.15em solid;
  border-color: #2dd4bf;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@layer components {
  .letter-bounce {
    @apply transition ease-in-out hover:-translate-y-3 duration-200;
  }

  .btn-primary {
    @apply py-1 px-4 mt-4 bg-teal-400 text-white font-bold rounded-md shadow-lg hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-teal-300 focus:ring-opacity-75 w-fit transition ease-in-out delay-75 hover:scale-105 duration-200;
  }

  .card {
    @apply flex flex-col sm:flex-row justify-center items-center shadow-lg p-8 ring-1 ring-inset ring-black/10;
  }

  .section-title {
    @apply text-3xl inline-block relative font-extrabold tracking-tight before:content-[''] before:absolute before:rounded-sm before:-bottom-2 before:left-0 before:w-0 before:h-1.5 before:transition-all before:duration-500 before:bg-teal-400;
  }

  .skill-container {
    @apply flex flex-col w-24 h-24 justify-center items-center space-y-2 transition duration-150;
  }

  .text-underlined {
    @apply underline decoration-teal-400 decoration-[2.5px] underline-offset-4;
  }
}
